header {
    display: flex;
    height: 100px;
    background-color: rgb(172, 187, 42);
}

.btn-cart {
    height: 30px;
    width: 100px;
    margin: 30px;
}

.products {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.product-item{
    display: flex;
    flex-direction: column;
    height: 150px;
    padding: 20px;
    border: 2px solid rgb(182, 182, 182);
    color: rgb(95, 95, 95);
}